<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd
		 http://www.springframework.org/schema/context">

    <bean id="iFruit" class="cn.wyw.springframework.beans.aop.IFruit">
        <property name="token" value="sssss"/>
    </bean>
    <bean id="defaultAdvisorAutoProxyCreator" class="cn.wyw.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="beforeAdvice" class="cn.wyw.springframework.beans.aop.IFruitMethodBeforeAdvice"/>
    <bean id="methodBeforeAdviseInterceptor" class="cn.wyw.springframework.aop.framework.adapter.MethodBeforeAdviseInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>
    <bean id="pointcutAdvisor" class="cn.wyw.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* cn.wyw.springframework.beans.aop.Fruit.*(..))"/>
        <property name="advice" ref="methodBeforeAdviseInterceptor"/>
    </bean>

</beans>
