<?xml version="1.0" encoding="UTF-8"?>
<beans>
<!--  <bean id = "apple" class = "cn.wyw.springframework.beans.Apple" init-method = "initDataMethod" destroy-method = "destroyDataMethod"/>-->
  <!--<bean id = "plate" class = "cn.wyw.springframework.beans.Plate" scope = "prototype">
    <property name  = "name" value = "test2"/>
    <property name  = "color" value="Black" />
    <property name  = "size" value = "8"/>
    <property name  = "fruitProxy" ref = "proxyA"/>
  </bean>

   <bean id="proxyA" class="cn.wyw.springframework.beans.ProxyFactoryBean"/>-->
<!--   <bean id="plateEvent" class="cn.wyw.springframework.beans.PlateEvent"/>-->
   <bean id="plateListener" class="cn.wyw.springframework.beans.PlateListener"/>
   <bean id="contextRefreshEventLister" class="cn.wyw.springframework.beans.ContextRefreshEventListener"/>
   <bean id="contextContextEventLister" class="cn.wyw.springframework.beans.ContextClosedEventListener"/>

<!--  <bean id="MyBeanFactoryPostProcessor" class="cn.wyw.springframework.beans.MyBeanFactoryPostProcessor"/>-->
<!--  <bean id="MyBeanPostProcessor" class="cn.wyw.springframework.beans.MyBeanPostProcessor"/>-->
</beans>